.game-container {
  display: flex;
  flex-direction: column;
  border: solid;
  width: 24rem;
}

.game-row {
  padding: 0.5rem 1rem;
}

.info-row {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  border-bottom: solid;
}

.team-row {
  display: flex;
  justify-content: space-between;
}