.game-container {
  display: flex;
  flex-direction: column;
  border: solid;
  border-radius: 0.75rem;
  overflow: hidden;
  width: 24rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.game-row {
  padding: 0.5rem 1rem;
}

.info-row {
  background-color: #2a2d43;

  color: white;

  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  border-bottom: solid;
}

.team-row {
  display: flex;
  justify-content: space-between;
}